@use '@web-revizor/ui-kit/styles/shared.scss' as shared;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .web-revizor-container {
    @apply text-base;
    p {
      @apply text-base m-0;
    }

    a {
      text-decoration: none;
    }

    * {
      box-sizing: border-box;
    }

    button {
      @apply bg-transparent border-none cursor-pointer p-0;
    }

    input {
      @apply text-body-md !shadow-none focus:!shadow-none;
      &.shadowReset {
        box-shadow: 0 0 0 transparent !important;
      }
    }
  }
}


.postbox {
  &:has(.web-revizor-container) {
    @apply bg-background text-on-surface;
    h2,
    h3 {
      @apply text-on-surface;
    }
  }
}

body {
  &:has(#wralm-console) {
    @include shared.mount-shell;
  }
}
